RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^usuarios/([0-9a-zA-Z_-]*)$ usuarios.php?id=$1 [NC,L]
RewriteRule ^usuariosexistencia usuariosexistencia.php [NC,L]
RewriteRule ^autenticar autenticar.php [NC,L]
RewriteRule ^listadeprecios/([0-9a-zA-Z_-]*)$ listadeprecios.php?id=$1 [NC,L]
RewriteRule ^listadeprecios/existencia/ listadepreciosexistencia.php [NC,L]
RewriteRule ^productos/([0-9a-zA-Z_-]*)$ productos.php?id=$1 [NC,L]
RewriteRule ^productos/existencia/ productosexistencia.php [NC,L]
RewriteRule ^productos/tipo/([0-9a-zA-Z_-]*)$ tiposdeproductos.php?id=$1 [NC,L]
RewriteRule ^productos/tipo/existencia/ tiposdeproductosexistencia.php [NC,L]
RewriteRule ^adjuntos/([0-9a-zA-Z_-]*)$ adjuntos.php?id=$1 [NC,L]
RewriteRule ^pedidos/([0-9a-zA-Z_-]*)$ pedidos.php?id=$1 [NC,L]
RewriteRule ^pedidosxfecha pedidosxfecha.php [NC,L]
RewriteRule ^estados estados.php [NC,L]